---
import i18n from '@assets/translations/i18n.json'
import '@assets/styles/components/Project/projectCard.css'

import { BASE_URL_GITHUB } from '@/consts'

import type { Project } from '@/typings'

interface Props {
	project: Project
}

const { project } = Astro.props
const { description, images, nameRepository, title, urlPage } = project
const { BUTTON_TO_PAGE, REPOSITORY_LABEL } = i18n.es.project

const nameProject = 'Matatena'
---

<article class='projectCard'>
	<figure class='projectCard__containerImg'>
		<img
			src={images.presentationImage}
			alt={title}
			class='projectCard__img'
			loading='lazy'
			decoding='async'
		/>
	</figure>

	<div class='projectCard__info'>
		<h4 class='projectCard__title'>{title}</h4>
		<p class='projectCard__paragraph'>{description}</p>
		<div class='projectCard__containerLinks'>
			<a
				href={`${BASE_URL_GITHUB}/${nameRepository}`}
				rel='noopener noreferrer'
				target='_blank'
				aria-label={`${REPOSITORY_LABEL} ${title}`}
				class='projectCard__repositoryLink'
				title={`${REPOSITORY_LABEL} ${title}`}
			>
				<svg>
					<use href='/sprites/socialSprite.svg#github'></use>
				</svg>
			</a>
			<a href={urlPage} rel='noopener noreferrer' target='_blank' class='projectCard__pageLink'
				>{BUTTON_TO_PAGE}</a
			>
		</div>
	</div>
	{
		title === nameProject ? (
			<div class='projectCard__patron'>
				<div class='line-1' />
				<div class='line-2' />
			</div>
		) : null
	}
</article>
