---
import LinkIcon from '@components/Icons/LinkIcon.astro'

import i18n from '@assets/translations/i18n.json'
import '@assets/styles/components/Project/index.css'

import { BASE_URL_GITHUB } from '@/consts'

import type { Project } from '@/typings'

interface Props {
	project: Project
}

const { project } = Astro.props

const {
	ALT_HOME_MAIN_PROJECT,
	ALT_PAGE_VIEWS,
	LABEL_TO_PAGE,
	MAIN_PROJECT_LINK_TO_REPOSITORY,
	TECHS_LIST_PARAGRAPH
} = i18n.es.project
const { title, description, images, urlPage, nameRepository, techs } = project

const url_code = encodeURI(BASE_URL_GITHUB.concat('/', nameRepository))
const { imageList, presentationImage } = images
---

<article class="mainProject">
	<div class="mainProject__descriptionContainer">
		<div>
			<h4 class="mainProject__title">
				{title}
				<a
					href={urlPage}
					target="_blank"
					rel="noopener norefferer"
					aria-label={`${LABEL_TO_PAGE} ${title}`}
					title={`${LABEL_TO_PAGE} ${title}`}
				>
					<LinkIcon styles="mainProject__title__urlIcon" />
				</a>
			</h4>
			<div class="mainProject__description">
				<p class="mainProject__paragraph">
					{`${description} `}
					<a
						href={url_code}
						class="mainProject__repositoryLink"
						rel="noopener noreferrer"
						target="_blank"
					>
						{MAIN_PROJECT_LINK_TO_REPOSITORY}
					</a>
				</p>
				<p class="mainProject__paragraph">{TECHS_LIST_PARAGRAPH}</p>
				<ul class="mainProject__techList">
					{
						techs.map((tech) => (
							<li>
								<span class="mainProject__tech">{tech}</span>
							</li>
						))
					}
				</ul>
			</div>
		</div>
		<div class="mainProject__mainImage">
			<img
				src={presentationImage}
				alt={`${ALT_HOME_MAIN_PROJECT} ${title}`}
				width="540"
				height="270"
				loading="lazy"
			/>
		</div>
	</div>
	<ul class="mainProject__wrapperImages">
		{
			imageList.map((img, ind) => (
				<li>
					<img
						src={img}
						alt={`${ALT_PAGE_VIEWS} ${title}, ${ind}`}
						width="368"
						height="184"
						loading="lazy"
					/>
				</li>
			))
		}
	</ul>
</article>
