---
import Section from '@/layouts/Section.astro'
import SocialCard from '@components/SocialCard.astro'
import ArrowDown from '@components/Icons/ArrowDown.astro'

import photo from '@assets/images/photo.webp'
import i18n from '@assets/translations/i18n.json'

import '@assets/styles/components/ArrowDown/index.css'
import '@assets/styles/sections/Introduction/index.css'

interface Props {
	sectionId: string
	nextSectionId: string
}

const { nextSectionId, sectionId } = Astro.props

const { AND, introduction } = i18n.es
const { BUTTON_TO_NEXT_SECTION, GREETING, PRESENTATION, SPECIALTY, text } = introduction
---

<Section addClass="section__introduction" id={sectionId}>
	<div class="introduction__presentation">
		<span class="introduction__greetings">{GREETING}</span>
		<div>
			<h1 class="introduction__title">
				{PRESENTATION}
				<strong> Giuliano&nbsp;Cappa</strong>
			</h1>
			<h2 class="introduction__subtitle">{SPECIALTY}</h2>
		</div>
		<p class="introduction__text">
			{text.FIRST_FRAGMENT}<strong class="introduction__highlight">{text.CREATIVE}</strong>{
				AND
			}<strong class="introduction__highlight">{text.A11Y}</strong>{text.SECOND_FRAGMENT}
		</p>
		<SocialCard />
	</div>
	<div class="introduction_photo-info">
		<img src={photo} alt="Giuliano Cappa" class="introduction__photo" width="250" height="250" />
	</div>
	<ArrowDown sectionId={nextSectionId} styles="arrowDown" label={BUTTON_TO_NEXT_SECTION} />
</Section>
