---
import Section from '@/layouts/Section.astro'
import SocialCard from '@components/SocialCard.astro'

import photo from '@assets/images/photo.webp'
import i18n from '@assets/translations/i18n.json'

const { AND, introduction } = i18n.es
const { GREETING, PRESENTATION, SPECIALTY, text } = introduction
---

<Section addClass="section__introduction">
	<div class="section__introduction__presentation">
		<span class="section__introduction__greetings">{GREETING}</span>
		<hgroup>
			<h1 class="section__introduction__title">
				{PRESENTATION}
				<strong> Giuliano&nbsp;Cappa</strong>
			</h1>
			<p class="section__introduction__subtitle">{SPECIALTY}</p>
		</hgroup>
		<p class="section__introduction__text">
			{text.FIRST_FRAGMENT}<strong class="section__introduction__highlight">{text.CREATIVE}</strong
			>{AND}<strong class="section__introduction__highlight">{text.A11Y}</strong>{
				text.SECOND_FRAGMENT
			}
		</p>
		<SocialCard />
	</div>
	<div class="section__introduction_photo-info">
		<img
			src={photo}
			alt="Giuliano Cappa"
			class="section__introduction__photo"
			width="300"
			height="300"
		/>
	</div>
</Section>
