---
import schemes from '@assets/sprites/modesSprite.svg'
import i18n from '@assets/translations/i18n.json'

interface Props {
	changeColor: string
	color: string
	turns: number
}

const { changeColor, color, turns } = Astro.props
---

<div class="headerPage__actions__colorPanel">
	<button
		class="btnColorScheme"
		data-turns={turns}
		data-color={color}
		aria-label={`${i18n.es.BUTTON_CHANGE_PAGE_SCHEME} ${changeColor}`}
		style={`transform: rotate(${turns * 0.5}turn)`}
	>
		<svg class="btnColorScheme__icon">
			<use href={`${schemes}#moon`}></use>
		</svg>
		<svg class="btnColorScheme__icon">
			<use href={`${schemes}#sun`}></use>
		</svg>
	</button>
</div>
