---
import i18n from '@assets/translations/i18n.json'

import '@assets/styles/components/Header/index.css'

import { ITEMS_NAV } from '@/values'
---

<script src='@utils/handlerMenu.ts'></script>

<a href={`#${Object.keys(ITEMS_NAV)[0]}`} class='skipNavLinks'>{i18n.es.SKIP_TO_MAIN_CONTENT}</a>

<header class='headerPage' aria-live='polite'>
	<div class='headerPage__container'>
		<div class='logo'></div>
		<div class='headerPage__actions'>
			<nav class='nav'>
				<ul class='navMenu'>
					{
						Object.entries(ITEMS_NAV).map(([key, value]) => (
							<li>
								<a href={`#${key}`} class='navMenu__item'>
									{value}
								</a>
							</li>
						))
					}
				</ul>
			</nav>
		</div>
	</div>
</header>

<div class='backdropMenu'></div>

<div class='controlPanelBottom'>
	<button class='menuBtn' aria-label={i18n.es.LABEL_CHANGE_PAGE_THEME.open} aria-expanded='false'>
		<span class='menuBtn__line'></span>
	</button>
</div>
