---
import '@assets/styles/components/Knowledge/index.css'

// eslint-disable-next-line
interface Props {
	knowledge: string
}

const { knowledge } = Astro.props

let nameSvg = knowledge.replace(/\s|.js/, '').toLowerCase()

let src = `/svgs/${nameSvg}.svg`
---

<li class="knowledge">
	<figure>
		<img
			src={src}
			alt={knowledge}
			loading="lazy"
			class="knowledge__img"
			title={knowledge}
			width="100"
			height="100"
		/>
		<figcaption>{knowledge}</figcaption>
	</figure>
</li>
