---
import '@assets/styles/components/CardProject/_index.scss'

type Project = {
  description: string
  imgs: string[]
  name_repository: string
  techs: string[]
  title: string
  url_page: string | null
}

interface Props {
  project: Project
}

const { project } = Astro.props
const { title, description, imgs, techs, url_page, name_repository } = project

let url_code = 'https://github.com/Martiks38/' + name_repository
let conjunction = new Intl.ListFormat('es', {
  style: 'long',
  type: 'conjunction'
}).format(techs)
---

<script>
  import { $$ } from '@utils/selectors.js'
  import { createSliders } from '@utils/slider'
  import { ripple, removeRipple } from '@utils/ripple.js'

  $$('.card').forEach((card) => {
    card.querySelectorAll<HTMLElement>('.button-link').forEach((button) => {
      button.addEventListener('mouseenter', ripple)
      button.addEventListener('mouseleave', removeRipple)
    })
  })

  createSliders('.card')
</script>
<article class='card'>
  <div class='card-containerImg'>
    {
      imgs.map((img, ind) => (
        <img
          src={img}
          alt={`Imagen de presentación ${ind + 1} de la página ${title}`}
          class={ind === 0 ? 'card-img active' : 'card-img'}
          width='350'
          height='175'
        />
      ))
    }
  </div>
  <div class='card-description'>
    <h4 class='card-title'>{title}</h4>
    <div class='card-text'>
      {description.split('\n').map((paragraph) => <p class='card-paragraph'>{paragraph}</p>)}
      <p class='card-paragraph'>
        Hecho con: <strong>{conjunction}</strong>
      </p>
    </div>
    <div class='card-links'>
      {
        url_page ? (
          <a
            onmouseenter='ripple()'
            onmouseleave='removeRipple()'
            href={url_page}
            class='button button-link'
            target='_blank'
          >
            <span class='button-text'>Visitar sitio</span>
          </a>
        ) : null
      }
      <a href={url_code} class='button button-link' target='_blank'>
        <span class='button-text'>Ver código</span>
      </a>
    </div>
  </div>
</article>
