---
import LinkIcon from '@components/LinkIcon.astro'
import '@assets/styles/components/BgCircles/index.css'
import '@assets/styles/components/Project/index.css'
import clsx from 'clsx'

type Project = {
	description: string
	imgs: string[]
	title: string
	url_page: string | null
	name_repository: string
	techs: string[]
}

// eslint-disable-next-line
interface Props {
	project: Project
	isReverse?: boolean
}

const { project, isReverse } = Astro.props

const { title, description, imgs, url_page, name_repository, techs } = project

const BASE_URL = 'https://github.com/Martiks38/'
const url_code = BASE_URL.concat(name_repository)
const [mainImage, ...presentationImages] = imgs

let dontHaveImgs = presentationImages.length === 0
const paragraphs = description.split('\n')
const reverseRow = isReverse
	? 'project__descriptionContainer_rowReverse'
	: 'project__descriptionContainer_row'
const classDescription = `project__descriptionContainer ${reverseRow}`
const anchorDescription = url_page ? `Ir a la página de ${title}` : `Ir al repositorio de ${title}`
---

<article class="project">
	<div class={clsx([classDescription, dontHaveImgs && 'project__descriptionContainer_mb-0'])}>
		<div>
			<h4 class="project__title">
				<span class="project__title__text">{title}</span>
				<a
					href={url_page || url_code}
					target="_blank"
					rel="norefferer noopenner"
					aria-label={anchorDescription}
					title={anchorDescription}
				>
					<LinkIcon styles="project__title__url" />
				</a>
			</h4>
			{paragraphs.map((paragraph) => <p class="project__description">{paragraph}</p>)}
			<p class="project__techs">Tecnologías usadas:</p>
			<div class="techs">
				{techs.map((tech) => <span class="tech">{tech}</span>)}
			</div>
		</div>
		<div
			class={clsx([
				'bgCircle project__introImgContainer',
				dontHaveImgs && 'project__introImgContainer_mb-0',
				{
					'project__introImgContainer_left reverse': isReverse,
					project__introImgContainer_right: !isReverse
				}
			])}
		>
			<img
				src={mainImage}
				alt={`Visualización del inicio de la página de ${title}`}
				width="540"
				height="270"
				loading="lazy"
			/>
		</div>
	</div>
	<div class="project__wrapperImages">
		{
			presentationImages.map((img) => (
				<img
					src={img}
					alt={`Visualización de sección de la página ${title}`}
					width="368"
					height="184"
					loading="lazy"
				/>
			))
		}
	</div>
</article>
