---
import i18n from '@assets/translations/i18n.json'
import logos from '@assets/sprites/socialSprite.svg'
import '@assets/styles/components/SocialCard/index.css'

const { email, github, linkedin } = i18n.es.social_card
---

<aside>
	<ul class="socialCard">
		<li>
			<a
				href="https://github.com/Martiks38?tab=repositories"
				target="_blank"
				class="socialCard__link socialCard__link_invert"
				title={github}
				aria-label={github}
				rel="noopener noreferrer"
			>
				<svg>
					<use href={`${logos}#github`}></use>
				</svg>
			</a>
		</li>
		<li>
			<a
				href="https://www.linkedin.com/in/giuliano-cappa"
				target="_blank"
				class="socialCard__link"
				title={linkedin}
				aria-label={linkedin}
				rel="noopener noreferrer"
			>
				<svg>
					<use href={`${logos}#linkedin`}></use>
				</svg>
			</a>
		</li>
		<li>
			<a
				href="mailto:cappa.giuliano.m@gmail.com"
				class="socialCard__link"
				title={email}
				aria-label={email}
			>
				<svg>
					<use href={`${logos}#gmail`}></use>
				</svg>
			</a>
		</li>
	</ul>
</aside>
