---
import Section from '@/layouts/Section.astro'

import photo from '@assets/images/photo.webp'
import i18n from '@assets/translations/i18n.json'
import { EXTERNAL_LINKS } from '@/consts'

interface Props {
	sectionid: string
}

const { sectionid } = Astro.props

const { jonmircha, midudev } = EXTERNAL_LINKS
const {
	ALT_IMG,
	FIRST_HIGHLIGHTED,
	FIRST_PARAGRAPH,
	SECOND_HIGHLIGHTED,
	SECOND_PARAGRAPH_FIRST_FRAGMENT,
	SECOND_PARAGRAPH_SECOND_FRAGMENT,
	THIRD_PARAGRAPH_FIRST_FRAGMENT,
	THIRD_PARAGRAPH_SECOND_FRAGMENT,
	THIRD_HIGHLIGHTED,
	TITLE
} = i18n.es['about-me']
---

<Section addClass="section__aboutMe">
	<h3 class="section__title section__aboutMe__title" id={sectionid}>{TITLE}</h3>
	<figure class="section__aboutMe__containerImage">
		<img
			src={photo}
			alt={ALT_IMG}
			class="section__aboutMe__img"
			width="450"
			height="338"
			loading="lazy"
			title={ALT_IMG}
		/>
	</figure>
	<div class="section__aboutMe__description">
		<p class="section__aboutMe__paragraph">
			{FIRST_PARAGRAPH}<em class="section__aboutMe__highlight">{FIRST_HIGHLIGHTED}</em>.
		</p>
		<p class="section__aboutMe__paragraph">
			{SECOND_PARAGRAPH_FIRST_FRAGMENT}<em
				><span class="section__aboutMe__highlighted">{SECOND_HIGHLIGHTED}</span></em
			>{SECOND_PARAGRAPH_SECOND_FRAGMENT}<a href={midudev} rel="noopener">Midudev</a>{i18n.es.AND}<a
				href={jonmircha}
				rel="noopener">jonmircha</a
			>.
		</p>
		<p class="section__aboutMe__paragraph">
			{THIRD_PARAGRAPH_FIRST_FRAGMENT}<strong class="section__aboutMe__highlight">Next.js</strong>, <strong
				class="section__aboutMe__highlight">TypeScript</strong
			>{i18n.es.AND}<strong class="section__aboutMe__highlight">Sass</strong>. {
				THIRD_PARAGRAPH_SECOND_FRAGMENT
			}<strong class="section__aboutMe__highlight">Node.js</strong>, <strong
				class="section__aboutMe__highlight">Postgres</strong
			>{i18n.es.AND}<strong class="section__aboutMe__highlight">{THIRD_HIGHLIGHTED}</strong>.
		</p>
	</div>
</Section>
