---
import Section from '@/layouts/Section.astro'

import photo from '@assets/images/photo.jpg'
import i18n from '@assets/translations/i18n.json'
import '@assets/styles/sections/AboutMe/index.css'

import { Image } from 'astro:assets'

interface Props {
	sectionId: string
}

const { sectionId } = Astro.props as Props

const { ALT_IMG, PARAGRAPHS, TITLE } = i18n.es['about-me']
---

<Section addClass='section__aboutMe' id={sectionId}>
	<h3 class='section__title aboutMe__title'>{TITLE}</h3>
	<div class='aboutMe__container'>
		<figure class='aboutMe__containerImage'>
			<Image
				src={photo}
				alt={ALT_IMG}
				class='aboutMe__img'
				width='225'
				height='400'
				loading='lazy'
				title={ALT_IMG}
			/>
		</figure>
		<div class='aboutMe__description'>
			{PARAGRAPHS.map((p) => <p class='aboutMe__paragraph'>{p}</p>)}
		</div>
	</div>
</Section>
