---
import Section from '@/layouts/Section.astro'

import photo from '@assets/images/photo.jpg'
import i18n from '@assets/translations/i18n.json'
import '@assets/styles/sections/AboutMe/index.css'

import { EXTERNAL_LINKS } from '@/consts'

interface Props {
	sectionId: string
}

const { sectionId } = Astro.props

const { jonmircha, midudev } = EXTERNAL_LINKS
const {
	ALT_IMG,
	FIRST_HIGHLIGHTED,
	FIRST_PARAGRAPH,
	SECOND_HIGHLIGHTED,
	SECOND_PARAGRAPH_FIRST_FRAGMENT,
	SECOND_PARAGRAPH_SECOND_FRAGMENT,
	THIRD_PARAGRAPH_FIRST_FRAGMENT,
	THIRD_PARAGRAPH_SECOND_FRAGMENT,
	THIRD_HIGHLIGHTED,
	TITLE
} = i18n.es['about-me']
---

<Section addClass="section__aboutMe" id={sectionId}>
	<h3 class="section__title aboutMe__title">{TITLE}</h3>
	<figure class="aboutMe__containerImage">
		<img
			src={photo}
			alt={ALT_IMG}
			class="aboutMe__img"
			width="225"
			height="400"
			loading="lazy"
			title={ALT_IMG}
		/>
	</figure>
	<div class="aboutMe__description">
		<p class="aboutMe__paragraph">
			{FIRST_PARAGRAPH}<em class="aboutMe__highlighted">{FIRST_HIGHLIGHTED}</em>.
		</p>
		<p class="aboutMe__paragraph">
			{SECOND_PARAGRAPH_FIRST_FRAGMENT}<em
				><span class="aboutMe__mark">{SECOND_HIGHLIGHTED}</span></em
			>{SECOND_PARAGRAPH_SECOND_FRAGMENT}<a
				href={midudev}
				class="aboutMe__externalLink"
				rel="noopener">Midudev</a
			>{i18n.es.AND}<a href={jonmircha} class="aboutMe__externalLink" rel="noopener">jonmircha</a>.
		</p>
		<p class="aboutMe__paragraph">
			{THIRD_PARAGRAPH_FIRST_FRAGMENT}<strong class="aboutMe__highlight">Next.js</strong>, <strong
				class="aboutMe__highlight">TypeScript</strong
			>{i18n.es.AND}<strong class="aboutMe__highlight">Sass</strong>{
				THIRD_PARAGRAPH_SECOND_FRAGMENT
			}<strong class="aboutMe__highlight">PostgreSQL</strong>{i18n.es.AND}<strong
				class="aboutMe__highlight">{THIRD_HIGHLIGHTED}</strong
			>.
		</p>
	</div>
</Section>
